.footer{
    bottom: 0;
    margin:0;
    background-color: #0D191A;
    h2{
        margin-bottom: -40px;
    }
    .align-right{
        text-align: right;
    }
    .far{
        font-size: 18PX;
    }
    .cv{
        width: 80%;
        background-color: $font-color;
        i{
            font-size: $h3-size;
            color: #fff;
        }
        &:hover{
            background-color: #fff; 
            i{
                color:$font-color;
                font-family:  'Staatliches', cursive;
            
            
                @keyframes noise-anim{
                    $steps:20;
                    @for $i from 0 through $steps{
                    #{percentage($i*(1/$steps))}{
                        clip:rect(random(100)+px,9999px,random(100)+px,0);
                    }
                    }
                }
                &:before{
                    content:attr(data-text);
                    position: relative;
                    font-family:  'Staatliches', cursive;
                    left:3px;
                    text-shadow:-1px 0 red;
                    color:$font-color;
                    overflow:hidden;
                    clip:rect(0,900px,0,0); 
                    animation:noise-anim 9s infinite linear alternate-reverse;
                }
            }
        }
    }

    // Geometry!
    $pi: 3.14159265359;
    
    @function makeCircleDiameter($radius) {
        @return ($radius*2);
    }
    
    @function makeCircleWidthHeight($radius, $padding) {
        @return ($radius*2)+$padding*3;
    }
    
    @function makeCircleCircumfrence($diameter) {
        @return $diameter * $pi;
    }
    
    // Progress Circles
    $progress-circle-radius: 40px;
    $progress-circle-padding: 15px;
    
    .c-progress-circle {
        display: block;
        width: makeCircleWidthHeight($progress-circle-radius, $progress-circle-padding);
        height: makeCircleWidthHeight($progress-circle-radius, $progress-circle-padding);
        margin: 10px 70px;
        border-radius: 50%;
        position: static;
        transform: rotate(271deg);
        box-shadow: 0px 0px 50px 0px $font-color;
        
        &::after {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        font-family: 'Staatliches', cursive;
        content: "67%";
        font-size: 50px;
        transform: rotate(90deg);
        color: #fff;
        }
        
        .c-progress-circle__svg {
            overflow: visible;
            width: 100%;
            height: 100%;
    
        circle {
            stroke-dashoffset: 0;
            transition: stroke-dashoffset 1s linear;
            stroke-width: 3px;
            stroke-linecap: round;
        }
    
        .c-progress-circle__bar {
            fill: transparent;
            stroke-dashoffset: makeCircleCircumfrence(makeCircleDiameter($progress-circle-radius));
            stroke-dasharray: makeCircleCircumfrence(makeCircleDiameter($progress-circle-radius));
        }
        }
        
    
        // Smaller Version with Image
        $progress-circle--sm-radius: 40px;
        $progress-circle--sm-padding: 5px;
        
        &.c-progress-circle--sm {
        width: makeCircleWidthHeight($progress-circle--sm-radius, $progress-circle--sm-padding);
        height: makeCircleWidthHeight($progress-circle--sm-radius, $progress-circle--sm-padding);
        box-shadow: none;
        
        &::after {
            font-size: 40px;
        }
            
        .c-progress-circle__bar {
            stroke-width: 3px;
            stroke-dashoffset: makeCircleCircumfrence(makeCircleDiameter($progress-circle--sm-radius));
            stroke-dasharray: makeCircleCircumfrence(makeCircleDiameter($progress-circle--sm-radius));
        }
        }
    } 
  }
  
