.web{
    background-color: $main-color;
    h1, h2, h3{
        color: $font-color;
        font-family: 'Staatliches', cursive;
    }
    h1{
        font-size: $h1-size;
    }
    h2{
        font-size: $h2-size;
    }
    h3{
        font-size: $h3-size;
    }
    p {
        color: $p-color;
    }
    .fas, .far{
        color: #fff;
        font-size: $h3-size;
    }
    section{
    min-height: 700px; 
    background-color: none;
    }
    .bottom-left{
        position: absolute;
        bottom: 8px;
        left: 16px;
    }

    .progress{
        background-color: $secondary;
        .progress-bar{
            background-color: $font-color
        }
    }
    .logo{
        width: 10%;
    }
    #art img:hover ~ #art{
        background-color: rgba(255, 255, 255, 0.5);
    }
    #art{
        padding: 0;
        .row{
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            padding: 0 4px;
        
            .column{
                padding: 0;
                flex: 33.3%;
                max-width: 33.3%;
            }
            img{
                vertical-align: middle;
                width: 100%;
                transition: transform .2s; 
                &:hover {
                    transform: scale(1.2); 
                    
                }
            }
        } 
    }


}