@media (min-width: 992px){
    .web{
        .navbar{
            top: 25%;
            position: fixed;
            display: grid;
            right: 0;
            color:$font-color;
            font-size:$h3-size;
            font-family:  'Staatliches', cursive;
            text-align: right;
            &::after{
                content: "";
                top: 0;
                right: 35px;
                display: block;
                position: absolute;
                border-right: 1px solid #fff;
                height: 300px;
                z-index: 100;
            }
            a{
                color:$font-color;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                    color: #fff;

                    
                }      
                i{
                    padding-top: 10px;
                    padding-bottom: 25px;
                    &:hover{
                        color:$font-color;
                        font-family:  'Staatliches', cursive;
                      
                        @keyframes noise-anim{
                            $steps:20;
                            @for $i from 0 through $steps{
                            #{percentage($i*(1/$steps))}{
                                clip:rect(random(100)+px,9999px,random(100)+px,0);
                            }
                            }
                        }
                        &:after{
                            content:attr(data-text);
                            position: relative;
                            font-family:  'Staatliches', cursive;
                            left:3px;
                            text-shadow:-1px 0 red;
                            color:$font-color;
                            background:$main-color;
                            overflow:hidden;
                            clip:rect(0,900px,0,0); 
                            animation:noise-anim 9s infinite linear alternate-reverse;
                        }
                        
                        @keyframes noise-anim-2{
                            $steps:20;
                            @for $i from 0 through $steps{
                            #{percentage($i*(1/$steps))}{
                                clip:rect(random(100)+px,9999px,random(100)+px,0);
                            }
                            }
                        }
                        &:before{
                            content:attr(data-text);
                            position:relative;
                            font-family:  'Staatliches', cursive;
                            left:-0.5px;
                            text-shadow:1px 0 blue; 
                            color:#fff;
                            background: $main-color;
                            overflow:hidden;
                            clip:rect(0,200px,0,0); 
                            animation:noise-anim-2 10s infinite linear alternate-reverse;
                        }
                        }
                    }
                }
            }
        }
    }

